@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post {
  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    &-dark {
      @include allArticleLink($color-white);
    }
    &-light {
      @include allArticleLink($color-base);
    }
  }
}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

    &__home-button {
      &-dark {
        @include allArticleBreakPoint();
      }
      &-light {
        @include allArticleBreakPoint();
      }
    }
  }
}
